
@{
    ViewBag.Title = "Menu";
}


    <body>
        <div class="jumbotron">
            <h2>Our Menu</h2>
            <p>Take a see to our food.</p>
        </div>
        <div class="modal-header">
            <h3>Food</h3>
            <p class="line"></p>
        </div>
        <div class="col-md-6">
            <ul class="menus">
                <li>
                    <figure class="image"><img src="~/Content/Images/img_square_1.jpg" style="width:312px; height: 256px; margin: auto;" /></figure>
                    <div class="text">
                        <span class="price">$22.99</span>
                        <h4>Fried Potatoes with Garlic</h4>
                        <p>Crab / Potatoes / Rice</p>
                    </div>
                </li>
                <li>
                    <figure class="image"><img src="~/Content/Images/img_square_2.jpg" style="width:312px; height: 256px; margin: auto;" /> </figure>
                    <div class="text">
                        <span class="price">$22.99</span>
                        <h4>Tuna Roast Source</h4>
                        <p>Crab / Potatoes / Rice</p>
                    </div>
                </li>
                <li>
                    <figure class="image"><img src="~/Content/Images/img_square_3.jpg" style="width:312px; height: 256px; margin: auto;" /></figure>
                    <div class="text">
                        <span class="price">$22.99</span>
                        <h4>Roast Beef (4 sticks)</h4>
                        <p>Crab / Potatoes / Rice</p>
                    </div>
                </li>
                <li>
                    <figure class="image"><img src="~/Content/Images/img_square_4.jpg" style="width:312px; height:256px; margin: auto;" /></figure>
                    <div class="text">
                        <span class="price">$22.99</span>
                        <h4>Salted Fried Chicken</h4>
                        <p>Crab / Potatoes / Rice</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="menus">
                <li>
                    <figure class="image"><img src="~/Content/Images/img_square_5.jpg" style="width:312px; height: 256px; margin: auto;" /></figure>
                    <div class="text">
                        <span class="price">$22.99</span>
                        <h4>Baked Potato Pizza</h4>
                        <p>Crab / Potatoes / Rice</p>
                    </div>
                </li>
                <li>
                    <figure class="image"><img src="~/Content/Images/img_square_1.jpg" style="width:312px; height:256px; margin: auto;" /></figure>
                    <div class="text">
                        <span class="price">$22.99</span>
                        <h4>Fried Potatoes with Garlic</h4>
                        <p>Crab / Potatoes / Rice</p>
                    </div>
                </li>
                <li>
                    <figure class="image"><img src="~/Content/Images/img_square_2.jpg" style="width:312px; height:256px; margin: auto;" /></figure>
                    <div class="text">
                        <span class="price">$22.99</span>
                        <h4>Salted Fried Chicken</h4>
                        <p>Crab / Potatoes / Rice</p>
                    </div>
                </li>
                <li>
                    <figure class="image"><img src="~/Content/Images/img_square_3.jpg" style="width:312px; height: 256px; margin: auto;" /></figure>
                    <div class="text">
                        <span class="price">$22.99</span>
                        <h4>Tuna Roast Source</h4>
                        <p>Crab / Potatoes / Rice</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-header">
            <h3>Drinks</h3>
            <p class="line"></p>
        </div>
        <div class="col-md-6">
            <ul class="menus">
                <li>
                    <figure class="image">
                        <img src="~/Content/Images/Expresso.jpg" style="width:312px; height: 256px; margin: auto;" />
                    </figure>
                    <div class="text">
                        <span class="price">$4.5</span>
                        <h4>Black</h4>
                    </div>
                </li>
                <li>
                    <figure class="image"><img src="~/Content/Images/flatwhite.jpg" style="width:312px; height:256px; margin: auto;" /></figure>
                    <div class="text">
                        <span class="price">$5.00</span>
                        <h4>Flat White</h4>
                        <p>Whole Milk / Fat Free Milk / Soy Milk</p>
                    </div>
                </li>
                <li>
                    <figure class="image"><img src="~/Content/Images/latte.jpg" style="width:312px; height:256px; margin: auto;" />
                    </figure>
                    <div class="text">
                        <span class="price">$5.50</span>
                        <h4>Latte</h4>
                        <p>Whole Milk / Fat Free Milk / Soy Milk / Vanillla</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="menus">
                <li>
                    <figure class="image">
                        <img src="~/Content/Images/Cappuccino.jpg" style="width:312px; height: 256px; margin: auto;" />
                    </figure>
                    <div class="text">
                        <span class="price">$4.5</span>
                        <h4>Cappuccio</h4>
                        <p>Whole Milk / Fat Free Milk / Soy Milk</p>
                    </div>
                </li>
                <li>
                    <figure class="image">
                        <img src="~/Content/Images/tea.jpg" style="width:312px; height:256px; margin: auto;" />
                    </figure>
                    <div class="text">
                        <span class="price">$16.99</span>
                        <h4>Tea Pot</h4>
                        <p>Black / Green</p>
                    </div>
                </li>
                <li>
                    <figure class="image">
                        <img src="~/Content/Images/smoothies.jpg" style="width:312px; height:256px; margin: auto;" />
                    </figure>
                    <div class="text">
                        <span class="price">$7.50</span>
                        <h4>Smoothie</h4>
                        <p>Straberry / Banana / Mix Berries / Watermelon</p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
<style>
    .jumbotron 
    {
    margin: 64px;
    padding: 2px,8px,2px,8px;
    background-image: url('../../Content/Images/Head.jpg');
    background-size:100%;
    color:white;
    }
    .modal-header
    {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #1B7E62;
    }
    body
    {
    background-color: antiquewhite;
    }
    h3
    {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 22px;
    }
    p
    {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    }
    .price
    {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-style:italic;
    }
    .line {
    border: none;
    width: 100%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 12px;
    background: linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -20px 0,
    linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -20px 0,
    linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
    linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 12px 12px;
    background-color: #EC173A;
    }
</style>